/*
Todos los elementos de la pagina
{ font: 1em/1.3 Arial, Helvetica, sans-serif; }
Todos los parrafos de la pagina
{ color: #555; }
Todos los párrafos contenidos en #primero
{ color: #336699; }
Todos los enlaces la pagina
{ color: #CC3300; }
Los elementos "em" contenidos en #primero
{ background: #FFFFCC; padding: .1em; }
Todos los elementos "em" de clase "especial" en toda la pagina
{ background: #FFCC99; border: 1px solid #FF9900; padding: .1em; }
 Elementos "span" contenidos en .normal
 { font-weight: bold; }
*/  div#primero em{
        background: #bfbf1a; padding: .1em
    }/*'lorem sem aliquam nulla' debería aparecer subrayado en color salmón y padding .1em ok*/

    *{
        font: 1em/1.3 Arial, Helvetica, sans-serif
    }/*todas las etiquetas con este formato ok*/
    
    p{
        color: #555
    }/*todos los parrafos en gris ok*/
    
    a{
        color: #CC3300
    }/*todos los enlaces del texto deberían salir en naranja oscuro ok*/
    
    div#primero p{
        color: #336699
    }/*la primera división debería de aparecer en azul claro ok*/
    
    div.normal span{            
        font-weight: bold
    }/* magna eu varius luctus, debería aparecer en negrita ok*/
    
    em .especial{
        background: #a7723e; border: 1px solid #FF9900; padding: .1em;
    }/*'penatibus et magnis' y 'enim id iaculis congue' deberia de aparecer subrayado y con borde nop*/
    
    